@import "variable.css";

@import "components/header.css";
@import "components/nav-bar.css";
@import "components/footer.css";
@import "components/setting.css";

@import "screens/login.css";
@import "screens/todo.css";
@import "screens/calendar.css";
@import "screens/pomodoro.css";
@import "screens/utility.css";
@import "screens/basic.css";


@keyframes openingScroll {
    0%{
        transform: scaleY(0);
    }
    50%{
        transform: scaleY(0.3);
    }
    100%{
        transform: scaleY(1);
    }
}

body {
    z-index: 0;
    box-sizing: border-box;
    margin-top: 3%;
    background-color: rgba(17,24,39, 0.7);
    background-repeat: no-repeat;
    background-size: calc(100%);
    background-position-x: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: openingScroll 0.5s linear;
  
}

.hidden {
    display: none !important;
}



.main-screen {
    z-index: 5;
    width:60%;
    height:550px;
    display:flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.9);
    animation: openingScroll 0.3 linear;
  
    
    
}

.part-screen {
    box-sizing: border-box;
 
    width:80%;
    height:100%;
}



.vertical-bar {
    height:100%;
    border: 3px solid rgba(0,0,0,0.6);
}
.horizontal-var {
    width:100%;
    border: 3px solid rgba(0,0,0,0.6);

}

button:hover {
    cursor: pointer;
}


.review {
    z-index: 70;
    appearance: none;
    text-decoration: none;
    font-size: 20px;
    position: fixed;
    top: 100px;
    right: 100px;
    transition: font-size 0.2s ease-in-out, rotateX(360deg) 2s infinite;
}

.review:hover {
    font-size: 200px;
}