
  


.settings {
    z-index: 20;
    position:fixed;
    width:18%;
    height: 50%;
    border-radius: 30px;
   

    left:50px;
    top: 100px;
}


.settings__button {
    background-color: rgba(0,0,0,0);
    border: none;
}

.settings__button > img {
    width: 80px;
    height: 80px;
    color:white;
    border-radius: black solid 2px;
    transition: transform 2s ease-in-out;
}

.settings__button > img:hover{
    transform: rotate(360deg);
}


.settings__settings {
    width:100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255,255,255,0.6);
    border-radius: 20px;
}


.settings__settings > div {
    width: 100%;
    height:15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.settings__label {
    appearance: none;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    border: max(2px, 0.1em) solid gray;
    border-radius: 10px;
    font-weight: bold;

  }

  .settings__label > span {
    margin-left: 1em;
  }

.settings__label >input {
    width: 40%;
    height: 100%;
    background-color: gray;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s linear;
}

  [type="checkbox"]::before {
    content: "";
    position: absolute;
    top:50%;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: gray;
    transition: left .2s linear;
  }

  [type="checkbox"]:checked {
    background-color: tomato;
    border-color: tomato;
  }
  [type="checkbox"]:checked::before {
    background-color: tomato;
    left: calc(80%);
  }
  [type="checkbox"]:enabled:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  }

.settings__settings__finish {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.settings__settings__finish > button {
    height:100%;
    width:30%;
    background-color: wheat;
}
.settings__settings__finish > button:hover {
    background-color: tomato;
}