.main-screen__basic {
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    text-align: center;
}

.main-screen__basic > h1 {
    color:black;
    -webkit-text-stroke: 2px rgba(255,255,255,0.7);

}